@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body{
    background-color: white;
}

.mynav{
    position: fixed;
    background: white;
    color: black;
    height: 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.hero-bg{
  margin-top:100px;
  height: 100vh;
  width: 100%;
  position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgb(8 8 9 / 42%);
}
.hero-bg-img{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0%;
    right: 0;

}
.hero-bg .overlay-content{
    position: absolute;
    width: 40%;
    min-width: 250px;
    top: 0;
    right: 0;
    background-color: rgb(56 56 56 / 45%);
    padding: 20px 15px 25px;
    overflow-x: hidden;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-heading{

    font-size: 50px;
    font-family: 'Concert One', sans-serif;

}

.room-showcase .block{
    height: 400px;
}
.footer-bg{
    padding: 40px;
    width: 100%;
    background-color: white;
    height: 200px;
    padding-top: 80px;
}

@media only screen and (max-width: 600px) {

    .hero-bg .overlay-content{
        width: 100%;
    }
}