@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg{
  height: 80vh;
  width: 100%;
  position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgb(8 8 9 / 42%);
}
.hero-bg-img{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0%;
    right: 0;

}
.hero-bg .overlay-content{
    position: absolute;
    width: 35%;
    min-width: 200px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 30px;
    padding: 20px 15px;
    overflow-x: hidden;
}
.room-showcase .block{
    height: 400px;
}